body {
  background-image: url("../public/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  width: 90vw;
  height: 90vh;
  background-color: rgb(21, 21, 52, 0.75);
  border-radius: 10px;
  border: solid 0.5px rgb(39, 43, 68);
  display: flex;
  color: white;
}
